@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.invisible{
  display: none;
}

.marginCart{
  
  margin-right: 100px;
  transform: scale(0.5);
  margin-top: -50px;
  
}


.cartItem{
  transform: scale(0.9);
  
}



